{erl_opts, [debug_info, warn_export_all, warn_export_vars,
            warn_shadow_vars, warn_obsolete_guard, warn_unused_import,
            warn_deprecated_function, warn_unused_vars, warn_bif_clash]}.

{deps, [
    {cowboy, "2.10.0"},
    {jsone, "1.7.0"}
]}.

{shell, [
    {apps, [radio]}
]}.

%% Add this to make radio a proper OTP application
{src_dirs, ["src"]}.